<!DOCTYPE HTML>
<html>
  <head>
    <title>Items to Buy</title>
  </head>
  
  <body>
    <form action="/checkout" method="post">
      <label for="item">Item: </label>
      <input id="item" type="text" name="item"/>
      <input type="submit" id="submit"/>
    </form>
  </body>
  
</html>
